/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/*公共颜色*/
@import url('dropload.css');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 750px;
  min-width: 320px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom */
a {
  color: #7e8c8d;
  -webkit-backface-visibility: hidden;
}
li,
ul {
  list-style: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
.height {
  width: 100%;
  height: 100%;
}
/*美化表单*/
@font-face {
  font-family: base_icon;
  src: url(../fonts/base.woff);
}
input.rt[type=radio],
input.rt[type=checkbox] {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  margin: 3px 0;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
  outline: 0;
  background-color: #fff;
  border: 1px solid #ff8223;
  border-radius: 2px;
}
input.rt[type=radio]:checked,
input.rt[type=checkbox]:checked {
  background-color: #fff;
  border: 1px solid #ff8223;
  color: #fff;
  outline: none;
  -webkit-appearance: none;
  position: relative;
  border-radius: 2px;
}
input.rt[type=radio]:checked:after,
input.rt[type=checkbox]:checked:after {
  content: "✓";
  font-size: 24px;
  font-family: base_icon;
  font-weight: 700;
  color: #ff8223;
  position: absolute;
  top: -3px;
  left: -5px;
}
.clearfix:after {
  content: "";
  height: 0;
  display: block;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}
.item-href {
  display: block;
}
.line {
  width: 100%;
  height: 5px;
  background-color: #f5f2f5;
}
/*单行省略*/
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/*//两行省略*/
.two-truncate {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.layer {
  box-sizing: border-box;
  min-width: 100px;
  max-width: 300px;
  padding: 12px 20px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 40%;
  left: 0;
  z-index: 99999;
  border-radius: 6px;
  display: none;
  font-size: 14px;
}
.header {
  background-color: #f6f6f6;
  position: relative;
}
.header .am-header-title {
  font-size: 18px;
  color: #0a0a0a;
}
.header .arrow-left {
  width: 10px;
  height: 16px;
  display: block;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -8px;
  background: url(../i/arrow-left.png) no-repeat center;
  background-size: 10px 16px;
}
/*弹窗样式*/
.alert-title {
  color: #000;
  font-size: 16px;
  padding: 15px 0;
  font-weight: 700;
}
.alert-txt {
  color: #686868;
  font-size: 15px;
  line-height: 1.4;
}
.alert-btn {
  color: #0a78de;
  font-size: 15px;
  font-weight: 700;
}
/*侧边栏样式*/
/*border-1px 实现*/
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px::after {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
  .border-top-1px::before {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px::after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .border-top-1px::before {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
.log-container {
  width: 100%;
  height: 100%;
}
.log-container .stick {
  width: 100%;
}
.log-container .stick .stick-wrapper {
  width: 100%;
}
.log-container .stick .stick-wrapper .wrapper-main.reg-main {
  padding-bottom: 0;
}
.log-container .stick .stick-wrapper .wrapper-main .log-top {
  width: 100%;
  height: 231px;
  background-repeat: no-repeat;
  background-size: 100% 231px;
  background-image: url("../i/log-bg.png");
}
.log-container .stick .stick-wrapper .wrapper-main .log-top .log-header {
  padding: 13px 15px;
  text-align: center;
}
.log-container .stick .stick-wrapper .wrapper-main .log-top .log-header .title {
  color: #fff;
  font-size: 18px;
}
.log-container .stick .stick-wrapper .wrapper-main .log-top .log-header .arrow-left {
  width: 9px;
  height: 16px;
  display: block;
  position: absolute;
  left: 15px;
  top: 12px;
  background-repeat: no-repeat;
  background-size: 9px 16px;
  background-image: url("../i/l-arrow-left.png");
}
.log-container .stick .stick-wrapper .wrapper-main .log-top .logo {
  padding-top: 20px;
}
@media screen and (max-width: 320px) {
  .log-container .stick .stick-wrapper .wrapper-main .log-top .logo img {
    margin: auto;
    display: block;
    width: 80px;
    height: 80px;
  }
}
@media screen and (min-width: 321px) and (max-width: 414px) {
  .log-container .stick .stick-wrapper .wrapper-main .log-top .logo img {
    margin: auto;
    display: block;
    width: 91px;
    height: 91px;
  }
}
.log-container .stick .stick-wrapper .wrapper-main .log-top .name {
  width: 100%;
  height: 28px;
  margin-top: 14px;
  background-repeat: no-repeat;
  background-size: 90px 28px;
  background-image: url("../i/tip.png");
  background-position: center;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center {
  padding: 0 15px;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center.fp-center {
  padding: 0;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center.fp-center .center-item {
  border-radius: none;
  position: relative;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center.fp-center .center-item:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #f1f1f1;
  content: ' ';
  width: 100%;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center.fp-center .center-item input {
  border-radius: none;
  background: none;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center.fp-center .next {
  width: 90%;
  height: 42px;
  line-height: 42px;
  background: #ff8223;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  margin: auto;
  margin: 30px auto 30px;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center .center-item {
  margin-top: 13px;
  position: relative;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center .center-item input {
  background: #f2f2f2;
  outline: 0;
  border: none;
  width: 100%;
  padding: 11px 20px;
  border-radius: 20px;
  font-size: 16px;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center .center-item input#code {
  padding-right: 80px;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center .center-item input#pwd {
  font-size: 14px;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center .center-item .get-code {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  color: #ff8223;
  font-size: 14px;
  text-decoration: underline;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center .code-make {
  margin-top: 14px;
  padding: 0 15px;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center .code-make .left {
  display: inline-block;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center .code-make .left .check {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-image: url("../i/code-border.png");
  vertical-align: middle;
  margin-right: 4px;
  position: relative;
  top: -2px;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center .code-make .left .check.active {
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-image: url("../i/code-check.png");
}
.log-container .stick .stick-wrapper .wrapper-main .log-center .code-make .left .remember {
  display: inline-block;
  color: #686868;
  font-size: 15px;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center .code-make .right .forget-code {
  color: #686868;
  font-size: 15px;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center .login,
.log-container .stick .stick-wrapper .wrapper-main .log-center .next {
  width: 100%;
  height: 42px;
  line-height: 42px;
  background: #ff8223;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  margin: auto;
  margin: 30px 0 15px 0;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center .login a,
.log-container .stick .stick-wrapper .wrapper-main .log-center .next a {
  color: #fff;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center .register {
  width: 100%;
  height: 42px;
  line-height: 42px;
  background: #ff8223;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #ff8223;
}
.log-container .stick .stick-wrapper .wrapper-main .log-center .next {
  margin-top: 33px;
}
.log-container .stick .wrapper-bottom {
  position: relative;
  padding-bottom: 30px;
  clear: both;
}
.log-container .stick .wrapper-bottom .title {
  width: 80px;
  margin: auto;
  position: relative;
  color: #acacac;
  font-size: 14px;
}
.log-container .stick .wrapper-bottom .title:after {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background: #acacac;
  top: 70%;
  left: 92%;
}
.log-container .stick .wrapper-bottom .title:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background: #acacac;
  top: 70%;
  right: 106%;
}
.log-container .stick .wrapper-bottom img {
  display: block;
  margin: 15px auto 10px;
}
/*注册会员页面*/
.reg-container {
  padding-bottom: 30px;
}
.reg-container .reg-wrapper {
  padding: 0 15px;
}
.reg-container .reg-wrapper .list-item {
  padding: 17px 0;
  border-bottom: 1px solid #f1f1f1;
  position: relative;
}
.reg-container .reg-wrapper .list-item .name {
  color: #0a0a0a;
  font-size: 16px;
  vertical-align: middle;
  display: inline-block;
  width: 27%;
}
.reg-container .reg-wrapper .list-item .name.first {
  position: relative;
  top: 16px;
}
.reg-container .reg-wrapper .list-item .star {
  color: #ff5a5a;
  font-size: 16px;
  vertical-align: middle;
  margin-right: 6px;
}
.reg-container .reg-wrapper .list-item .tip {
  color: #b1b1b1;
  font-size: 14px;
}
.reg-container .reg-wrapper .list-item .avatar {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50px;
  height: 50px;
  right: 15px;
}
.reg-container .reg-wrapper .list-item .avatar .upload_img {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 11;
  border-radius: 50%;
}
.reg-container .reg-wrapper .list-item .avatar img {
  border-radius: 50%;
}
.reg-container .reg-wrapper .list-item .arrow-right {
  width: 7px;
  height: 13px;
  display: block;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -6px;
  background-repeat: no-repeat;
  background-size: 7px 13px;
  background-image: url("../i/arrow-right.png");
}
.reg-container .reg-wrapper .list-item .txt {
  border: 0;
  outline: 0;
  text-align: right;
  width: 65%;
  display: inline-block;
  font-size: 15px;
  color: #0a0a0a;
}
.reg-container .reg-wrapper .list-item .upload-wrap {
  padding: 5px 0;
}
.reg-container .reg-wrapper .list-item .upload-wrap li {
  float: left;
  margin: 4px;
  width: 109px;
  height: 60px;
  position: relative;
}
.reg-container .reg-wrapper .list-item .upload-wrap li img {
  width: 109px;
  height: 60px;
}
.reg-container .reg-wrapper .list-item .upload-wrap li .j-file-cert {
  position: absolute;
  width: 109px;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 11;
  opacity: 0;
}
.reg-container .reg-wrapper .list-item .upload-wrap li .icon-close {
  display: block;
  width: 19px;
  height: 19px;
  position: absolute;
  top: -8px;
  right: -5px;
  background-repeat: no-repeat;
  background-size: 19px 19px;
  background-image: url("../i/remove.png");
}
.reg-container .agreement {
  padding: 25px 15px;
  font-size: 0;
}
.reg-container .agreement .check {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-image: url("../i/code-border.png");
  margin-right: 5px;
  vertical-align: top;
}
.reg-container .agreement .check.active {
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-image: url("../i/code-check.png");
}
.reg-container .agreement .readed {
  color: #b1b1b1;
  font-size: 13px;
}
.reg-container .agreement .word {
  color: #ff8223;
  font-size: 13px;
}
.reg-container .submit {
  width: 90%;
  height: 42px;
  line-height: 42px;
  background: #ff8223;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  margin: auto;
  cursor: pointer;
}
.reg-container .submit.line {
  margin-top: 35px;
}
/*入会协议*/
.ia-container {
  width: 100%;
  height: 90%;
}
.ia-container .stick {
  width: 100%;
  height: 85%;
  overflow: auto;
}
.ia-container .stick .stick-wrapper {
  min-height: 100%;
  width: 100%;
}
.ia-container .stick .stick-wrapper .wrapper-main {
  padding: 20px 15px 42px 15px;
}
.ia-container .stick .stick-wrapper .wrapper-main .title {
  margin-bottom: 9px;
  color: #686868;
  font-size: 16px;
}
.ia-container .stick .stick-wrapper .wrapper-main .text {
  line-height: 1.6;
  color: #585858;
}
.ia-container .stick .btn {
  width: 30%;
  height: 42px;
  line-height: 42px;
  background: #ff8223;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  margin: auto;
  clear: both;
  position: relative;
  margin-top: -42px;
}
/*业务专长等*/
.be-container {
  padding: 15px;
}
.be-container .title {
  padding: 16px 0 25px;
  text-align: center;
}
.be-container .title .name {
  color: #0a0a0a;
  font-size: 14px;
  margin-bottom: 9px;
}
.be-container .title .price {
  color: #0a0a0a;
  font-size: 18px;
}
.be-container .title.pay-title {
  background: #f2f2f2;
}
.be-container .txt {
  border: none;
  outline: none;
  background-color: #f6f6f6;
  padding: 15px;
  resize: none;
  width: 100%;
  font-size: 14px;
  border-radius: 5px;
  color: #0a0a0a;
  line-height: 1.6;
}
.be-container .conversion,
.be-container .more {
  font-size: 14px;
  padding: 15px 0;
  display: inline-block;
  color: #686868;
}
.be-container .conversion span,
.be-container .more span {
  color: #ff8223;
}
.be-container .count {
  margin-top: 35px;
}
.be-container .count .name {
  color: #b1b1b1;
  font-size: 15px;
}
.be-container .count .weixin {
  color: #686868;
  font-size: 15px;
}
.be-container .submit {
  width: 90%;
  height: 42px;
  line-height: 42px;
  background: #ff8223;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  margin: auto;
  cursor: pointer;
  margin: 30px auto 30px;
}
/*个人中心*/
.my-container {
  padding-bottom: 32px;
}
.my-container .my-top {
  width: 100%;
  background: url(../i/my-bg.png) no-repeat center;
  background-size: 100% 100%;
}
.my-container .my-top .log-header {
  padding: 13px 15px;
  text-align: center;
}
.my-container .my-top .log-header .title {
  color: #fff;
  font-size: 18px;
}
.my-container .my-top .log-header .arrow-left {
  width: 9px;
  height: 16px;
  display: block;
  position: absolute;
  left: 15px;
  top: 12px;
  background-repeat: no-repeat;
  background-size: 9px 16px;
  background-image: url("../i/l-arrow-left.png");
}
.my-container .my-top .content {
  font-size: 0;
  padding: 15px 15px 15px 15px;
}
.my-container .my-top .content .left {
  display: inline-block;
  vertical-align: bottom;
}
.my-container .my-top .content .left img {
  border-radius: 50%;
}
.my-container .my-top .content .left .name {
  color: #fff;
  font-size: 16px;
  margin-top: 11px;
  text-align: center;
}
.my-container .my-top .content .right {
  display: inline-block;
  text-align: right;
  width: 72%;
}
.my-container .my-top .content .right .set {
  display: inline-block;
  width: 31px;
  height: 31px;
  background-repeat: no-repeat;
  background-image: url("../i/set.png");
  background-size: 31px 31px;
  margin-right: 25px;
}
.my-container .my-top .content .right .infor {
  display: inline-block;
  width: 31px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("../i/infor.png");
  background-size: 31px 30px;
  position: relative;
}
.my-container .my-top .content .right .infor .count {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #fff;
  background-color: #ef1e37;
  color: #fff;
  font-size: 10px;
  position: absolute;
  top: -4px;
  right: -6px;
}
.my-container .my-list {
  padding: 0 0 0 15px;
}
.my-container .my-list .list-item {
  padding: 15px 15px 15px 0;
  position: relative;
}
.my-container .my-list .list-item:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #f1f1f1;
  content: ' ';
  width: 100%;
}
.my-container .my-list .list-item a {
  display: block;
}
.my-container .my-list .list-item a .left {
  vertical-align: middle;
  color: #0a0a0a;
  font-size: 15px;
}
.my-container .my-list .list-item a .left img {
  vertical-align: middle;
  margin-right: 20px;
}
.my-container .my-list .list-item .arrow-right {
  width: 7px;
  height: 13px;
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -6px;
  background-repeat: no-repeat;
  background-size: 7px 13px;
  background-image: url("../i/arrow-right.png");
}
.my-container .out-login {
  margin-top: 30px;
  text-align: center;
  position: relative;
  color: #ff8223;
  font-size: 16px;
  padding: 10px 0;
}
.my-container .out-login:after {
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 2px;
  background: #ff8223;
  content: "";
  left: 50%;
  margin-left: -20px;
}
/*我的钱包*/
.mw-container .top-content {
  position: relative;
}
.mw-container .my-top {
  width: 100%;
  height: 140px;
  background: url(../i/mw-bg.png) no-repeat center;
  background-size: 100% 100%;
}
.mw-container .my-top .log-header {
  padding: 13px 15px;
  text-align: center;
}
.mw-container .my-top .log-header .title {
  color: #fff;
  font-size: 18px;
}
.mw-container .my-top .log-header .arrow-left {
  width: 9px;
  height: 16px;
  display: block;
  position: absolute;
  left: 15px;
  top: 12px;
  background-repeat: no-repeat;
  background-size: 9px 16px;
  background-image: url("../i/l-arrow-left.png");
}
.mw-container .my-center {
  position: absolute;
  width: 126px;
  height: 126px;
  background-repeat: no-repeat;
  background-image: url("../i/mw-arc.png");
  background-size: 126px 126px;
  top: 67px;
  left: 50%;
  margin-left: -68px;
  border-radius: 50%;
  text-align: center;
  padding: 0 15px;
}
.mw-container .my-center .price {
  padding: 10px 0 10px 0;
  color: #0a0a0a;
  font-size: 28px;
}
.mw-container .my-center .name {
  padding-top: 25px;
  padding-bottom: 15px;
  color: #474747;
  font-size: 17px;
  border-bottom: 1px dashed #959595;
}
.mw-container .my-bottom {
  padding: 25px 0;
  text-align: center;
  font-size: 0;
}
.mw-container .my-bottom .item {
  display: inline-block;
  width: 50%;
  color: #0a0a0a;
  font-size: 16px;
  text-decoration: underline;
}
.mw-container .my-bottom .item:first-child {
  padding-right: 40px;
}
.mw-container .my-bottom .item:last-child {
  padding-left: 40px;
}
.mw-container .detaild {
  background: #fff2e9;
  padding: 15px;
}
.mw-container .detaild .title {
  color: #0a0a0a;
  font-size: 16px;
  margin-bottom: 15px;
}
.mw-container .detaild .classify {
  display: inline-block;
  width: 14%;
  vertical-align: middle;
  position: relative;
}
.mw-container .detaild .classify .name {
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("../i/down.png");
  background-size: 5px 5px;
  background-position: right bottom;
  font-size: 14px;
  text-align: center;
}
.mw-container .detaild .classify .classify-list {
  position: absolute;
  top: 150%;
  left: 0px;
  display: none;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
.mw-container .detaild .classify .classify-list .list-item {
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
}
.mw-container .detaild .time {
  margin-left: 3px;
  display: inline-block;
  font-size: 0;
  width: 72%;
  vertical-align: top;
}
.mw-container .detaild .time .start,
.mw-container .detaild .time .end,
.mw-container .detaild .time span {
  display: inline-block;
  color: #0a0a0a;
  font-size: 14px;
  vertical-align: middle;
}
.mw-container .detaild .time .start,
.mw-container .detaild .time .end {
  width: 45%;
  border: 0;
  outline: 0;
  background: none;
  border-bottom: 1px solid #8a8a8a;
  text-align: center;
}
.mw-container .detaild .time span {
  color: #585858;
  font-size: 14px;
}
.mw-container .detaild .submit {
  display: inline-block;
  color: #ff8223;
  font-size: 14px;
  vertical-align: middle;
}
.mw-container .details-wrapper {
  width: 100%;
}
.mw-container .details-wrapper .detail-list {
  padding-left: 15px;
}
.mw-container .details-wrapper .detail-list .list-item {
  padding: 18px 15px 12px 0;
  position: relative;
}
.mw-container .details-wrapper .detail-list .list-item:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #f1f1f1;
  content: ' ';
  width: 100%;
}
.mw-container .details-wrapper .detail-list .list-item .name {
  color: #0a0a0a;
  font-size: 14px;
  margin-bottom: 9px;
  width: 80%;
}
.mw-container .details-wrapper .detail-list .list-item .time {
  color: #686868;
  font-size: 14px;
}
.mw-container .details-wrapper .detail-list .list-item .price {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 15px;
}
.mw-container .details-wrapper .detail-list .list-item .price.add {
  color: #ff8223;
}
.mw-container .details-wrapper .detail-list .list-item .price.reduce {
  color: #6199e6;
}
/*发送文件*/
.sw-container .top {
  padding: 20px 15px 15px 15px;
  position: relative;
}
.sw-container .top:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #f1f1f1;
  content: ' ';
  width: 100%;
}
.sw-container .top .title {
  margin-bottom: 13px;
  font-size: 16px;
}
.sw-container .top .explain {
  color: #ff8223;
  font-size: 14px;
  vertical-align: top;
}
.sw-container .top .file_upload {
  display: inline-block;
  position: absolute;
  padding: 8px 5px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #ff8223;
  color: #ff8223;
  font-size: 14px;
  top: 50%;
  right: 15px;
  margin-top: -16px;
}
.sw-container .content .no-record {
  width: 100%;
  padding: 60px 0;
  text-align: center;
}
.sw-container .content .no-record img {
  margin: auto;
  display: block;
  width: 155px;
  height: 170px;
}
.sw-container .content .no-record .title {
  color: #686868;
  font-size: 15px;
  margin-top: 25px;
}
.sw-container .content .send-wrapper {
  padding: 0 0 0 15px;
}
.sw-container .content .send-wrapper .list-item {
  padding: 25px 15px 12px 0;
  position: relative;
  font-size: 0;
}
.sw-container .content .send-wrapper .list-item:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #f1f1f1;
  content: ' ';
  width: 100%;
}
.sw-container .content .send-wrapper .list-item .name {
  width: 58%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #686868;
  font-size: 15px;
  display: inline-block;
}
.sw-container .content .send-wrapper .list-item .time {
  display: inline-block;
  width: 42%;
  color: #b1b1b1;
  font-size: 13px;
  text-align: right;
}
.uf-container .title {
  padding: 10px 15px 0 15px;
}
.uf-container .title .name {
  width: 100%;
  padding: 10px 0;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #f1f1f1;
}
.uf-container .upload-file {
  padding: 35px 0 25px 0;
  position: relative;
  color: #ff8223;
  font-size: 15px;
  text-decoration: underline;
  text-align: center;
}
.uf-container .upload-file .upload {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 30px;
  margin-top: -15px;
  margin-left: -50px;
  opacity: 0;
  z-index: 11;
}
.uf-container .tip {
  width: 92%;
  padding: 15px;
  border: 1px dashed #686868;
  font-size: 13px;
  line-height: 1.6;
  margin: auto;
}
/*关于我们*/
.a-log {
  padding: 32px 0 25px 0;
}
.a-log img {
  display: block;
  margin: auto;
}
.logo-name {
  width: 100%;
  height: 17px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75px 17px;
  background-image: url("../i/a-log.png");
}
.a-infor {
  padding: 40px 20px 30px 20px;
  color: #686868;
  font-size: 15px;
  line-height: 1.6;
}
.a-address,
.a-phone {
  padding: 0px 20px 0px 20px;
  color: #686868;
  font-size: 15px;
  line-height: 1.6;
}
#a-title {
  width: 100%;
  text-align: center;
  color: #686868;
  font-size: 15px;
  line-height: 1.6;
}
/*会员中心*/
.mc-container {
  padding: 25px 15px 20px 15px;
}
.mc-container .title {
  color: #0a0a0a;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.mc-container .txt {
  color: #686868;
  font-size: 15px;
  line-height: 1.6;
}
/*设置页面*/
.set-container .reg-wrapper .list-item .name {
  width: 40%;
  font-size: 14px;
}
.set-container .reg-wrapper .list-item .txt {
  width: 50%;
  font-size: 14px;
}
/*修改登录密码*/
.mlp-container .mlp-wrapper {
  padding-left: 15px;
  margin-bottom: 50px;
}
.mlp-container .mlp-wrapper .list-item {
  padding: 15px 15px 15px 0;
  position: relative;
}
.mlp-container .mlp-wrapper .list-item:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #f1f1f1;
  content: ' ';
  width: 100%;
}
.mlp-container .mlp-wrapper .list-item input {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 16px;
}
.mlp-container .mlp-wrapper .list-item.get_code {
  position: relative;
}
.mlp-container .mlp-wrapper .list-item.get_code input {
  width: 70%;
}
.mlp-container .mlp-wrapper .list-item.get_code .get-code {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -7px;
  color: #ff8223;
  font-size: 15px;
  text-decoration: underline;
}
.mlp-container .submit {
  width: 90%;
  height: 42px;
  line-height: 42px;
  background: #ff8223;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  margin: auto;
}
/*分享给好友*/
.model-share {
  padding: 23px;
}
.model-share img {
  width: 100%;
}
.model-share .desc {
  padding: 7px 14px;
  border: 1px dashed #ff8223;
  text-align: center;
  margin: 40px auto 0;
  display: inline-block;
  border-radius: 20px;
  color: #ff8223;
  font-size: 14px;
}
/*我的好友*/
.fd-container {
  padding: 0 15px;
  text-align: center;
}
.fd-container .title {
  text-align: center;
  display: inline-block;
  width: 100px;
  color: #0a0a0a;
  font-size: 16px;
  margin: auto;
  padding: 25px 0;
  position: relative;
}
.fd-container .title:after {
  position: absolute;
  bottom: 44%;
  left: -32px;
  content: "";
  width: 30px;
  height: 1px;
  background: #acacac;
}
.fd-container .title:before {
  position: absolute;
  bottom: 44%;
  right: -32px;
  content: "";
  width: 30px;
  height: 1px;
  background: #acacac;
}
.fd-container .content {
  padding: 0 15px;
}
.fd-container .content img {
  width: 100%;
  margin-bottom: 20px;
}
/*我的好友*/
.mf-container .tab-wrapper .list-item {
  padding: 22px 0 13px;
  border-bottom: 2px solid #ebebeb;
  text-align: center;
  float: left;
  width: 50%;
  color: #0a0a0a;
  font-size: 16px;
}
.mf-container .tab-wrapper .list-item.active {
  color: #ff8223;
  border-bottom: 2px solid #ff8223;
}
.mf-container .tab-container .tab-list .list-item {
  padding: 0 15px;
  font-size: 0;
  position: relative;
}
.mf-container .tab-container .tab-list .list-item .left {
  display: inline-block;
  width: 25%;
  padding: 21px 0 0 0;
  vertical-align: top;
}
.mf-container .tab-container .tab-list .list-item .left img {
  width: 100%;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}
.mf-container .tab-container .tab-list .list-item .right {
  display: inline-block;
  width: 70%;
  padding: 25px 0 14px 0;
  position: relative;
}
.mf-container .tab-container .tab-list .list-item .right:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #f1f1f1;
  content: ' ';
  width: 100%;
}
.mf-container .tab-container .tab-list .list-item .right .top {
  margin-bottom: 12px;
}
.mf-container .tab-container .tab-list .list-item .right .top .name {
  color: #0a0a0a;
  font-size: 16px;
  margin-right: 10px;
}
.mf-container .tab-container .tab-list .list-item .right .top .position {
  color: #ff8223;
  font-size: 13px;
}
.mf-container .tab-container .tab-list .list-item .right .bottom .industry {
  padding: 2px 4px;
  text-align: center;
  border: 1px solid #8d8d8d;
  color: #575757;
  font-size: 11px;
  border-radius: 4px;
  margin-right: 10px;
}
.mf-container .tab-container .tab-list .list-item .right .bottom .company {
  color: #6a6a6a;
  font-size: 11px;
}
.mf-container .tab-container .tab-list .list-item .arrow-right {
  width: 7px;
  height: 13px;
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -6px;
  background-repeat: no-repeat;
  background-size: 7px 13px;
  background-image: url("../i/arrow-right.png");
}
.mf-container .tab-container .tab-list .wrapper-img {
  padding-top: 30px;
  text-align: center;
}
.mf-container .tab-container .tab-list .wrapper-img .wrapper-target {
  margin-top: 20px;
}
/*公共footer*/
.foot-wrapper {
  background: #f6f6f6;
  z-index: 10;
  padding-top: 7px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
}
.foot-wrapper:before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 1px solid #f1f1f1;
  content: ' ';
  width: 100%;
}
.foot-wrapper .foot_item {
  width: 25%;
  flex: 0 0 25%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
}
.foot-wrapper .foot_item span {
  font-size: 11px;
  text-align: center;
  color: #6d6d6d;
}
.foot-wrapper .foot_item span.active {
  color: #0a0a0a;
}
.foot-wrapper .foot_item i {
  display: block;
  margin: auto;
}
.foot-wrapper .foot_item i.expert {
  width: 16px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 16px 20px;
  background-image: url("../i/f_1.png");
}
.foot-wrapper .foot_item i.expert.active {
  background-repeat: no-repeat;
  background-size: 16px 20px;
  background-image: url("../i/f1.png");
}
.foot-wrapper .foot_item i.specialist {
  width: 12px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 12px 20px;
  background-image: url("../i/f_2.png");
}
.foot-wrapper .foot_item i.specialist.active {
  background-repeat: no-repeat;
  background-size: 12px 20px;
  background-image: url("../i/f2.png");
}
.foot-wrapper .foot_item i.project {
  width: 17px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 17px 20px;
  background-image: url("../i/f_3.png");
}
.foot-wrapper .foot_item i.project.active {
  background-repeat: no-repeat;
  background-size: 17px 20px;
  background-image: url("../i/f3.png");
}
.foot-wrapper .foot_item i.my {
  width: 17px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 17px 20px;
  background-image: url("../i/f_4.png");
}
.foot-wrapper .foot_item i.my.active {
  background-repeat: no-repeat;
  background-size: 17px 20px;
  background-image: url("../i/f4.png");
}
/*共用顶部*/
.index-container .index-top,
.se-container .index-top {
  padding: 5px 15px 10px 15px;
  position: relative;
}
.index-container .index-top .grade,
.se-container .index-top .grade {
  display: inline-block;
  width: 20%;
  padding-right: 5px;
  background: url(../i/down.png) no-repeat right bottom;
  background-size: 7px 7px;
  color: #0a0a0a;
  font-size: 15px;
}
.index-container .index-top .search,
.se-container .index-top .search {
  display: inline-block;
  width: 65%;
}
.index-container .index-top .search.md-search,
.se-container .index-top .search.md-search {
  width: 73%;
}
.index-container .index-top .search .searcher,
.se-container .index-top .search .searcher {
  width: 100%;
  border: 0;
  outline: 0;
  background: #f2f2f2 url(../i/search.png) no-repeat 98% center;
  background-size: 13px 12px;
  padding: 8px 22px 8px 5px;
  border-radius: 20px;
  font-size: 14px;
}
@media screen and (max-width: 321px) {
  .index-container .index-top .grade,
  .se-container .index-top .grade {
    margin-right: 3px;
  }
}
@media screen and (min-width: 321px) and (max-width: 375px) {
  .index-container .index-top .grade,
  .se-container .index-top .grade {
    margin-right: 13px;
  }
}
@media screen and (min-width: 376px) and (max-width: 414px) {
  .index-container .index-top .grade,
  .se-container .index-top .grade {
    margin-right: 19px;
  }
}
.index-container .index-top .infor,
.se-container .index-top .infor {
  float: right;
  display: inline-block;
  width: 22px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: 22px 18px;
  background-image: url("../i/infor1.png");
  position: relative;
  top: 7px;
  vertical-align: middle;
}
.index-container .index-top .infor .count,
.se-container .index-top .infor .count {
  position: absolute;
  top: -9px;
  right: -5px;
  display: block;
  background: #ff2929;
  font-size: 10px;
  color: #fff;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 50%;
  text-align: center;
}
.index-container .index-top .star-wrapper,
.se-container .index-top .star-wrapper {
  position: absolute;
  top: 100%;
  left: 15px;
  display: inline-block;
  padding: 0 8px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px #dadada;
  display: none;
  z-index: 11;
  background: #fff;
}
.index-container .index-top .star-wrapper .list-item,
.se-container .index-top .star-wrapper .list-item {
  padding: 18px;
  text-align: center;
  color: #0a0a0a;
  font-size: 14px;
  position: relative;
}
.index-container .index-top .star-wrapper .list-item:after,
.se-container .index-top .star-wrapper .list-item:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #f1f1f1;
  content: ' ';
  width: 100%;
}
.index-container .banner img,
.se-container .banner img {
  width: 100%;
}
.index-container .banner .swiper-pagination-bullet-active,
.se-container .banner .swiper-pagination-bullet-active {
  background: #fff!important;
}
.index-container .classify .cla-wrapper,
.se-container .classify .cla-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 20px;
}
.index-container .classify .cla-wrapper .list-item,
.se-container .classify .cla-wrapper .list-item {
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  width: 25%;
  padding-top: 20px;
}
.index-container .classify .cla-wrapper .list-item .category,
.se-container .classify .cla-wrapper .list-item .category {
  display: block;
  color: #0a0a0a;
  font-size: 14px;
  margin-top: 8px;
}
.index-container .classify .cla-wrapper1,
.se-container .classify .cla-wrapper1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 20px;
  padding: 0 15px 20px 15px;
}
.index-container .classify .cla-wrapper1 .list-item1,
.se-container .classify .cla-wrapper1 .list-item1 {
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  width: 30%;
  padding-top: 20px;
}
.index-container .classify .cla-wrapper1 .list-item1 img,
.se-container .classify .cla-wrapper1 .list-item1 img {
  width: 100%;
}
.index-container .recommend,
.se-container .recommend {
  text-align: center;
}
.index-container .recommend .title,
.se-container .recommend .title {
  padding: 17px 15px;
  color: #0a0a0a;
  font-size: 17px;
  text-align: left;
}
.index-container .recommend .re-name,
.se-container .recommend .re-name {
  margin: 17px 0;
  display: inline-block;
  padding: 3px 10px;
  color: #0a0a0a;
  font-size: 17px;
  background: url(../i/tl-b.png) no-repeat left top, url(../i/tr-b.png) no-repeat right top;
  background-size: 7px 8px;
}
.index-container .recommend .re-wrapper .list-item,
.se-container .recommend .re-wrapper .list-item {
  float: left;
  width: 33.3333%;
  box-sizing: border-box;
  padding: 6px 0 15px 0;
  border-top: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  text-align: center;
  height: 150px;
}
.index-container .recommend .re-wrapper .list-item img,
.se-container .recommend .re-wrapper .list-item img {
  border-radius: 50%;
}
.index-container .recommend .re-wrapper .list-item .name,
.se-container .recommend .re-wrapper .list-item .name {
  color: #0a0a0a;
  font-size: 15px;
  padding: 9px 0 5px 0;
}
.index-container .recommend .re-wrapper .list-item .industy,
.se-container .recommend .re-wrapper .list-item .industy {
  padding: 3px 5px;
  display: inline-block;
  border: 1px solid #575757;
  color: #575757;
  font-size: 12px;
  border-radius: 4px;
}
.index-container .recommend .re-wrapper .list-item .company,
.se-container .recommend .re-wrapper .list-item .company {
  color: #6a6a6a;
  font-size: 12px;
}
.index-container .recommend .re-wrapper .list-item .position,
.se-container .recommend .re-wrapper .list-item .position {
  color: #ff8223;
  font-size: 11px;
  margin: 3px 0 5px 0;
}
.index-container .recommend .re-wrapper .list-item:nth-of-type(3n+3),
.se-container .recommend .re-wrapper .list-item:nth-of-type(3n+3) {
  border-right: 0;
}
.base-wrap .base-item {
  padding: 0 0px 0 15px;
  font-size: 0;
}
.base-wrap .base-item .item-left {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  padding-top: 23px;
  position: relative;
}
.base-wrap .base-item .item-left .tip {
  position: absolute;
  top: 35%;
  right: 38%;
  background: #ff2929;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.base-wrap .base-item .item-right {
  display: inline-block;
  width: 80%;
  font-size: 14px;
  padding: 13px 15px 15px 0;
  position: relative;
}
.base-wrap .base-item .item-right:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #f1f1f1;
  content: ' ';
  width: 100%;
}
.base-wrap .base-item .item-right.border-none:after {
  display: none;
}
.base-wrap .base-item .item-right .top {
  margin-bottom: 8px;
}
.base-wrap .base-item .item-right .top .title {
  display: inline-block;
  color: #0a0a0a;
  font-size: 16px;
}
.base-wrap .base-item .item-right .top .time {
  color: #686868;
  font-size: 12px;
}
.base-wrap .base-item .item-right .desc {
  width: 100%;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #686868;
  font-size: 14px;
  line-height: 1.4;
}
.base-wrap .base-item .item-right .desction {
  color: #686868;
  font-size: 14px;
  line-height: 1.6;
}
.base-wrap .base-item .item-right .look {
  margin-top: 14px;
  color: #5f9de4;
  font-size: 12px;
}
.base-wrap .btn {
  background: #ff5a5a;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
}
/*搜索页面*/
.se-container .se-top {
  padding: 10px 15px;
  font-size: 0;
}
.se-container .se-top .search-con {
  display: inline-block;
  width: 85%;
  position: relative;
}
.se-container .se-top .search-con.sr-con {
  width: 100%;
}
.se-container .se-top .search-con.sr-con .searchd {
  position: absolute;
  top: 50%;
  left: 8px;
  margin-top: -8px;
  display: inline-block;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: 16px 15px;
  background-image: url("../i/search.png");
}
.se-container .se-top .search-con.sr-con .search {
  width: 100%;
  border: 0;
  outline: 0;
  background: #f2f2f2;
  padding: 7px 16px;
  color: #0a0a0a;
  font-size: 12px;
  border-radius: 20px;
  vertical-align: middle;
  padding-left: 30px;
}
.se-container .se-top .search-con .search {
  width: 100%;
  border: 0;
  outline: 0;
  background: #f2f2f2;
  padding: 7px 16px;
  color: #0a0a0a;
  font-size: 14px;
  border-radius: 20px;
  vertical-align: middle;
  padding-left: 35px;
}
.se-container .se-top .search-con .searchd {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
  display: inline-block;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: 16px 15px;
  background-image: url("../i/search.png");
}
.se-container .se-top .delete {
  width: 15%;
  display: inline-block;
  color: #0a0a0a;
  font-size: 14px;
  vertical-align: middle;
  text-align: right;
}
.se-container .se-wrapper .title {
  margin-top: 10px;
  position: relative;
  padding: 15px;
  color: #0a0a0a;
  font-size: 16px;
}
.se-container .se-wrapper .title .del {
  position: absolute;
  top: 50%;
  right: 15px;
  display: inline-block;
  width: 13px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: 13px 14px;
  background-image: url("../i/del.png");
  margin-top: -7px;
}
.se-container .se-wrapper .se-list {
  padding-left: 15px;
}
.se-container .se-wrapper .se-list .list-item {
  padding: 15px 15px 15px 0;
  position: relative;
  color: #686868;
  font-size: 14px;
  cursor: pointer;
}
.se-container .se-wrapper .se-list .list-item:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #f1f1f1;
  content: ' ';
  width: 100%;
}
/*详情*/
.md-container {
  padding-bottom: 30px;
}
.md-container .title .tip {
  display: inline-block;
  width: 6px;
  height: 10px;
  background: #484848;
}
.md-container .title .name {
  display: inline-block;
  width: 90%;
  padding: 10px 0;
  position: relative;
  color: #686868;
  font-size: 13px;
  padding-left: 10px;
}
.md-container .title .name:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #f1f1f1;
  content: ' ';
  width: 100%;
}
.md-container .check-list {
  padding: 0 15px;
}
.md-container .check-list .list-item {
  float: left;
  width: 33.333%;
  padding-top: 22px;
  padding-left: 10px;
}
.md-container .check-list .list-item .rt {
  vertical-align: middle;
}
.md-container .check-list .list-item .item {
  vertical-align: middle;
  color: #0a0a0a;
  font-size: 15px;
}
.md-container .introduce .intro {
  padding: 15px 15px 0 15px;
}
.md-container .introduce .intro .content {
  width: 100%;
  border: 1px dashed #d0d0d0;
  padding: 15px;
  background: #f6f6f6;
  border-radius: 5px;
}
.md-container .introduce .intro .content .top {
  font-size: 0;
}
.md-container .introduce .intro .content .top .left {
  display: inline-block;
  vertical-align: top;
  width: 23%;
}
.md-container .introduce .intro .content .top .right {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  padding-top: 8px;
}
.md-container .introduce .intro .content .top .right .name {
  color: #0a0a0a;
  font-size: 15px;
}
.md-container .introduce .intro .content .top .right .star {
  margin-top: 9px;
}
.md-container .introduce .intro .content .top .right .star .grade {
  display: inline-block;
  color: #6a6a6a;
  font-size: 12px;
  vertical-align: top;
  margin-right: 8px;
}
.md-container .introduce .intro .content .top .right .star .star-con {
  display: inline-block;
  vertical-align: top;
}
.md-container .introduce .intro .content .top .right .star .star-con span {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-image: url("../i/star-o.png");
  margin: 0 1px;
}
.md-container .introduce .intro .content .top .right .star .star-con span.active {
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-image: url("../i/star.png");
}
.md-container .introduce .intro .content .center {
  margin-top: 19px;
}
.md-container .introduce .intro .content .center .title {
  color: #0a0a0a;
  font-size: 14px;
  margin-bottom: 10px;
}
.md-container .introduce .intro .content .center .desc {
  color: #686868;
  font-size: 13px;
  line-height: 1.5;
}
.md-container .introduce .intro .content .bottom {
  font-size: 0;
  margin-top: 25px;
}
.md-container .introduce .intro .content .bottom .left {
  display: inline-block;
  vertical-align: top;
  width: 23%;
}
.md-container .introduce .intro .content .bottom .left img {
  border-radius: 50%;
}
.md-container .introduce .intro .content .bottom .right {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  padding-top: 8px;
}
.md-container .introduce .intro .content .bottom .right .name {
  color: #0a0a0a;
  font-size: 15px;
}
.md-container .introduce .intro .content .bottom .right .position {
  margin-top: 6px;
}
.md-container .introduce .intro .content .bottom .right .position .company {
  color: #6a6a6a;
  font-size: 12px;
  margin-right: 10px;
}
.md-container .introduce .intro .content .bottom .right .position .industy {
  color: #ff8223;
  font-size: 12px;
}
.md-container .submit {
  width: 90%;
  height: 42px;
  line-height: 42px;
  background: #ff8223;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  margin: auto;
}
.md-container .submit.active {
  background: #ff2323;
}
.md-container .change-success {
  margin-top: 10px;
  width: 90%;
  margin: 10px auto 20px;
  background: #ff883f;
  border-radius: 2px;
  padding: 10px;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.4;
}
.md-container .change-success a {
  color: #ffffff;
  text-decoration: underline;
}
.agreement {
  padding: 25px 15px;
  font-size: 0;
}
.agreement .check {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-image: url("../i/code-border.png");
  margin-right: 5px;
  vertical-align: top;
}
.agreement .check.active {
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-image: url("../i/code-check.png");
}
.agreement .readed {
  color: #b1b1b1;
  font-size: 12px;
}
.agreement .word {
  color: #ff8223;
  font-size: 12px;
}
/*弹窗样式*/
.modal-box {
  border-radius: 10px;
}
.modal-box .modal-title {
  color: #0a0a0a;
  font-size: 17px;
  padding-bottom: 10px;
}
.modal-box .modal-desc {
  color: #686868;
  font-size: 15px;
  padding: 15px 15px 30px 15px;
  line-height: 1.5;
}
.modal-box .modal-desc .txt {
  display: block;
  color: #ff8223;
}
.modal-box .modal-desc .top {
  color: #000;
}
.modal-box .modal-desc .orange {
  color: #ff8223;
}
.modal-box .modal-desc .pay {
  margin-top: 10px;
}
.modal-box .modal-desc .pay input {
  padding: 10px;
  background: #eeeeee;
  border: 0;
  outline: 0;
  text-align: center;
}
.modal-box .modal-del {
  color: #61a8eb;
  font-size: 15px;
}
.modal-box .modal-confirm {
  color: #0a78de;
  font-size: 18px;
  font-weight: 800;
}
/*红包样式*/
.packet-box {
  width: 250px;
  height: 380px;
  background: url(../i/packet-bg.png) no-repeat center;
  background-size: contain;
}
.packet-box .packet-close {
  width: 23px;
  height: 23px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 23px 23px;
  background-image: url("../i/close.png");
  top: -11px;
  right: -11px;
  opacity: 1;
}
.packet-box .title {
  color: #fff;
  font-size: 14px;
  position: absolute;
  bottom: 145px;
  left: 50%;
  text-align: center;
  margin-left: -26px;
}
.packet-box .price {
  color: #fff;
  font-size: 16px;
  position: absolute;
  bottom: 84px;
  left: 50%;
  text-align: center;
  margin-left: -37px;
}
.packet-box .price span {
  font-size: 26px;
  vertical-align: baseline;
  margin-right: 2px;
}
.packet-box .send-packet {
  color: #fff;
  font-size: 18px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  text-align: center;
  margin-left: -28px;
  font-weight: 700;
}
header {
  padding: 10px 15px;
  background: #fff;
  position: relative;
  text-align: center;
}
header .back {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -10px;
  display: inline-block;
  width: 13px;
  height: 20px;
  background: url(../i/images/images/icon_03.jpg) no-repeat center;
  background-size: 13px 20px;
}
header .collect {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../i/images/images/icon_06.jpg) no-repeat center;
  background-size: 20px 20px;
}
header .tab {
  display: inline-block;
  font-size: 0;
}
header .tab .list-item {
  display: inline-block;
  border: 1px solid #d2805b;
  padding: 10px 30px;
  color: #d2805b;
  font-size: 14px;
}
header .tab .list-item.active {
  background: #D2620B;
  color: #fff;
}
.container {
  padding: 10px 15px 60px 15px;
  background: #fff;
}
.container .tab1 {
  display: none;
}
.container .title {
  color: #0a0a0a;
  font-size: 18px;
  margin-bottom: 10px;
}
.container .desc {
  overflow: hidden;
}
.container .desc .left {
  float: left;
  background: url(../i/images/images/icon_11.jpg) no-repeat left center;
  background-size: 15px 12px;
  color: #7b7b7b;
  font-size: 12px;
  padding-left: 20px;
}
.container .desc .right {
  float: right;
  color: #fff;
  font-size: 12px;
  padding: 4px 7px;
  border-radius: 4px;
  background: #c6c6c6;
}
.container .video {
  padding: 20px 0 32px 0;
}
.container .video .top_img {
  width: 143px;
  height: 143px;
  margin: auto;
  background: url(../i/images/images/circle_back.png) no-repeat center;
  background-size: 143px 143px;
  padding-top: 8px;
  position: relative;
}
.container .video .top_img img {
  display: block;
  margin: auto;
  border-radius: 50%;
}
.container .video .top_img .play_btn {
  position: absolute;
  top: 8px;
  left: 8px;
  background: url(../i/images/images/detail_play.png) no-repeat center;
  display: inline-block;
  background-size: 27px 35px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.container .video .time {
  overflow: hidden;
}
.container .video .time .start_time {
  float: left;
  color: #787878;
  font-size: 12px;
}
.container .video .time .end_time {
  float: right;
  color: #787878;
  font-size: 12px;
}
.container .video .time .speed img {
  display: block;
  width: 100%;
  margin-top: 5px;
}
.container .video .play img {
  display: block;
  width: 80%;
  margin: 15px auto 0;
}
.container .bottom {
  width: 100%;
  padding: 25px 15px;
  background: #f5f5f5;
}
.container .bottom .name {
  color: #0a0a0a;
  font-size: 15px;
  margin-bottom: 25px;
}
.container .bottom .con {
  color: #262626;
  font-size: 12px;
  line-height: 1.6;
}
/*侧边栏样式*/
#offcanvas-bar {
  width: 100%;
  background: #fff;
}
.am-offcanvas-bar:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background: #fff;
}
.am-offcanvas-content {
  padding: 0px;
  color: #999;
}
